%h1.title= property.address

.section
  .field
    .control
      =form_for :property, routes.property_path(id: property.id), method: :patch, values: { property: property, features: features } do
        - div class: 'field' do
          - label 'Street Number', class: 'label'
          - text_field :street_no, class: 'input control'

        - div class: 'field' do
          - label 'Street', class: 'label'
          - text_field :street_name, class: 'input'

        - div class: 'field' do
          - label 'Suburb', class: 'label'
          - text_field :suburb, class: 'input'

        - div class: 'field' do
          - label 'Postcode', class: 'label'
          - text_field :postcode, class: 'input'

        - div class: 'field' do
          - label 'Description', class: 'label'
          - text_area :description, class: 'input'

        - div class: 'field' do
          - label 'Available?', class: 'checkbox'
          - check_box :available

        - div class: 'field' do
          - label 'Land Size (m2)', class: 'label'
          - number_field :land_size, class: 'input', value: property.land_size || 0, step: 0.1

        - div class: 'field' do
          - label 'House Size (m2)', class: 'label'
          - number_field :house_size, class: 'input', value: property.house_size || 0, step: 0.1

        -div class: 'field' do
          - fields_for :property_features do
            - features.each do |feature|
              - fields_for '' do
                - label feature.name
                - hidden_field :feature_id, value: feature.id
                - hidden_field :property_id, value: property.id
                - text_field :value, value: property.value_for_feature(feature.id)

        - div class: 'control' do
          - submit 'Update Property', class: 'button is-primary'





