=form_for :user, routes.sessions_path do
  -div do
    -label 'Email', class: 'label'
    -email_field :email, class: 'input control'
    
  -div do
    -label 'Password', class: 'label'
    -text_field :password_plain, class: 'input control'

  - div class: 'control' do
    -submit 'Sign In', class: 'button is-primary'

