%nav.navbar.is-spaced.is-info
  .container
    .navbar-brand
      .title
        =link_to 'Property Finder', routes.root_path, class: 'navbar-item'
    .navbar-start
      =link_to 'Properties', routes.properties_path, class: 'navbar-item'
      =link_to 'Features', routes.features_path, class: 'navbar-item'
    .navbar-end
      - if current_user
        .navbar-item.is-uppercase.has-text-weight-semibold
          =current_user.first_name
        .navbar-item
          =render partial: 'shared/sign_out'

