<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <script src="<%= webpack_asset_path('application') %>"></script>
    <script src="<%= webpack_asset_path('styles') %>"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render partial: 'shared/nav' %>
    <div class='section'>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
