<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3020/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render partial: 'shared/nav' %>
    <div class='section'>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  </body>

  <%# So we can inject JS before we load our main JS package %>
  <script src="<%= webpack_asset_path('application') %>"></script>
</html>
